@model IEnumerable<WebAutopark.Core.Entities.Vehicle>

@{ ViewData["Title"] = "VehicleList"; }

<h1 class="text-center">VehicleType page</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineConsumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TankCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KmPerFullTank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineConsumption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TankCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KmPerFullTank)
            </td>
            <td class="text-center" style="min-width: 160px">
                @Html.ActionLink("View", "VehicleInfo", new { id = item.VehicleId }) |
                @Html.ActionLink("Edit", "VehicleUpdate", new { id = item.VehicleId }) |
                @Html.ActionLink("Delete", "VehicleDelete", new { id = item.VehicleId })
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-action="VehicleCreate">Create new</a>
</div>
