@model IEnumerable<WebAutopark.BusinessLogic.Models.OrderViewModel>

@{
    ViewData["Title"] = "OrderList";
}
<h1 class="text-center">Order page</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.ModelName)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Vehicle.TankCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.TankCapacity)
            </td>
            <td class="text-center">
                @Html.ActionLink("View", "OrderInfo", new { id = item.OrderId })
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Html.ActionLink("Add order", "OrderDetailCreate", "OrderDetail", Model, new {@class = "btn btn-primary"})
</div>